<!DOCTYPE html>
<html>
<head>
    <title>Phishing URL Detectors</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 class="logo-title">PhisCheck</h2>
        <div class="content">
            <button id="check">START</button>
            <div id="loading" class="loading-spinner" style="display: none;"></div>
            <div id="result" class="result-box"></div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>